<div class="bio-container container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-8 photo-container">
            <img class="img-fluid" src="/images/helicopterson.png">
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="title">
                <h3>Helicopterson dos Santos</h3>
                <p>Escritor, poeta, filantropo (1870 - 1950)</p>
            </div>

            <div class="background">
                <h4>História</h4>
                <p>Helicopterson sempre foi um jovem diferenciado, no mundo da lua, com aspirações muito além de sua geração. Com todos os seus sonhos e com muito esforço, um dia aprendeu a voar. Isso, ele aprendeu a voar, fazendo justiça à seu nome tão único. Ele continuou se esforçando, aprendendo muito e dominando a arte do voô, sempre chegando a alturas cada vez maiores. Até que um dia chegou na Lua, e essa na verdade é a última notícia que se tem dele. Depois disso, ele continuou voando cada vez mais alto, e ninguém mais o viu.</p>
            </div>

            <div class="highlights">
                <h4>Destaques</h4>
                <ul>
                        <li>Nasceu</li>
                        <li>Voou</li>
                        <li>Voou mais alto</li>
                        <li>Primeiro homem a pisar na lua</li>
                        <li>Sumiu</li>
                </ul>
            </div>

            <div class="quote">
                <h4>Frases</h4>
                <p>&ldquo;Se não for pra voar, eu nem desço pro Play&rdquo;</p>
            </div>

            <div class="fb-share-button" data-href="https://hikebios.herokuapp.com/helicopterson" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhikebios.herokuapp.com%2Fhelicopterson&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="back">
                <a class="btn btn-primary" href="/">Voltar</a>
            </div>
        </div>
    </div>
</div>