<div class="container bios-container">
    <div class="bios row">
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="bio-card card">
                <div class="img-container">
                    <img class="card-img-top" src="/images/helicopterson.png">
                </div>
                <div class="card-body">
                    <a class="bio-link" href="/helicopterson"><h6>Helicopterson dos Santos</h6></a>
                    <p class="card-text">&ldquo;Se não for pra voar, eu nem desço pro Play&rdquo;</p>
                    <div class="more-container"><a href="/helicopterson" class="btn btn-primary">Ler mais</a></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="bio-card card">
                <div class="img-container">
                    <img class="card-img-top" src="/images/lincoln.png">
                </div>
                <div class="card-body">
                    <a class="bio-link" href="/lincoln"><h6>Abraham Lincoln</h6></a>
                    <p class="card-text">&ldquo;Governo das pessoas, pelas pessoas, para as pessoas, nunca deixará de existir na Terra.&rdquo;</p>
                    <div class="more-container"><a href="/lincoln" class="btn btn-primary">Ler mais</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
